<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <sectionGroup name="ConnectionProviderGroup">
      <section 
        name="ConnectionProvider" 
        type="UserDal.ConnectionProviderConfig" 
        allowLocation="true" 
        allowDefinition="Everywhere"
      />
    </sectionGroup>
      <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
       <!-- Configuration section settings area. -->
  <ConnectionProviderGroup>
    <ConnectionProviderConfig type="DefaultConnection" connectionString="">
    </ConnectionProviderConfig>
  </ConnectionProviderGroup>
</configuration>