body {
     padding-left: 2em;
     font-family: Georgia, "Times New Roman", serif;
     font-size:0.7em;
     color: #400000;
     background-color: #0000; 

     margin: 0px;
}

#bordes {position: absolute ;padding: 0%;margin:0 auto 0 auto; width:1500px;}
#logotipo {position: absolute;  top: 25px; left:50px;}
#cabecera {position: absolute;  top: 25px; left:265px;}
#lateral1 {position: absolute;  top: 225px; left:816px;}
#lateral2 {position: absolute;  top: 380px; left:816px;}
#lateral3 {position: absolute;  top: 535px; left:816px;}
#lateral4 {position: absolute;  top: 690px; left:816px;}
#lateral5 {position: absolute;  top: 225px; left:50px;}
#lateral6 {position: absolute;  top: 380px; left:50px;}
#lateral7 {position: absolute;  top: 535px; left:50px;}
#lateral8 {position: absolute;  top: 690px; left:50px;}

#menu ul {
padding: 0px;
margin: 90px;
background-image: url("fondo_menu.gif");
background-repeat: repeat;
background-position: 0 0;
background-color: #333;
list-style: none;
font-size: 14px;
font-weight: bold;
width: 100%;
height: 30px;
float: left;

}

#menu ul li a:link, #menu ul li a:visited {
background-image: url("fondo_menu.gif");
background-repeat: repeat;
background-position: 0 0;
color: #FFF;
padding: 5px 15px;
float: left;
text-decoration: none;
}

#menu ul li {
display: inline;
}

#menu ul li a:hover, #menu ul li a:active{
color: #900;
background-position: 0 -30px;
background-color: #CCC;
height: 20px;
}

#menu{position: absolute;  top: 100px; left:-40px;}


#indice {position:absolute;top: 250px; left:50px;}

#indice ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, Helvetica, sans-serif;
}

#indice li { margin: 0;}


#indice a
{
display: block;
padding: 5px 5px;
width: 100%;
color: #FFF;
background-color: #333;
text-decoration: none;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-bottom: 1px solid #333;
border-right: 1px solid #333;
font-weight: bold;
font-size: .8em;
background-repeat: no-repeat;
background-position: 0 0;
}

#indice li#active a
{
color: #900 ;
background: #E0E8E0;



}

#listas
{
padding: 0px 0px;

}
a {color: #0000FF;}

#contenido {position: absolute; top:250px; left:250px;width:35%;}
#contenido ul{list-style-type: none;margin: 2%;}
#contenido li{margin: 2%;}
#pie{position: absolute;  top:-50px; left:100px;height: 30px;float: left;}

#imagen img {position: relative; width: 100%}

#contacto{ font-size:1.5em;}








#listaindice2 ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, Helvetica, sans-serif;
}

#listaindice2 li { margin: 0;}


#listaindice2 a
{
display: block;
padding: 5px 5px;
width: 100%;
color: black;
background-color: #E0E8E0;
text-decoration: none;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-bottom: 1px solid #333;
border-right: 1px solid #333;
font-weight: bold;
font-size: .8em;
background-repeat: no-repeat;
background-position: 0 0;
}

#listaindice2 li#active a
{
color: #900 ;
background: #E0E8E0;



}