<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsersWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/UserWebService/UsersWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UsersWebServiceSoap"
                contract="ServiceReference1.UsersWebServiceSoap" name="UsersWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>