<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsersWebServiceSoap" />
                <binding name="BasicHttpBinding_ICamiherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/UserWebService/UsersWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UsersWebServiceSoap"
                contract="ServiceReference1.UsersWebServiceSoap" name="UsersWebServiceSoap" />
            <endpoint address="http://localhost:7420/Camiher.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICamiherService" contract="Camiher.ICamiherService"
                name="BasicHttpBinding_ICamiherService" />
        </client>
    </system.serviceModel>
</configuration>